/*!
 * EasyPHP: a complete and ready-to-use WAMP environment for
 * PHP development (Devserver) and self hosting (Webserver)
 * build with PHP, Apache, MySQL, PhpMyAdmin, Xdebug and more.
 *
 * EASYPHP WEBSERVER MODULE
 * @author   Laurent Abbal <laurent@abbal.com>
 * @link     http://www.easyphp.org
 */

body {
  padding-top: 46px;
}

#delay {display:none;position:fixed;top:0px;left:0px;z-index:999;background-color:white;width:100%;height:100%;opacity:0.5;background-image:url('../images/loading.gif');background-repeat:no-repeat;background-position:50% 10%;}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 10px 0px 10px 10px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid white;
}

.footer {margin:60px auto 0px auto;padding:20px;color:#585858;background-color:#2a2e37;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.footer a {color:#979797}
.footer a:hover {text-decoration:none;color:white;}
a.facebook, a.twitter, a.googleplus, a.newsletter {margin:0px 0px 0px 1px;color:#2a2e37;font-weight:bold;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.facebook  {padding:3px 8px 2px 8px;background-color:#627AAD;}
.twitter  {padding:3px 8px 2px 8px;background-color:#2F99CA;}
.googleplus  {padding:3px 6px 2px 6px;background-color:#A84B43;}
.newsletter  {padding:3px 5px 2px 5px;background-color:#BF6217;}
.facebook:hover, .twitter:hover, .googleplus:hover, .newsletter:hover {color:white;background-color:black;}


.navbar-default {
background-color: #2a2e37;
border-color: #2a2e37;
}

.navbar {
padding-top:12px;
}

.gototop {
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:25;
	border-bottom:none;
}

.btn_quickstart {
  color: #fff;
  background-color: #c9302c;
  border-color: #c9302c;
}
.btn_quickstart:hover,
.btn_quickstart:focus,
.btn_quickstart:active,
.btn_quickstart.active,
.open > .dropdown-toggle.btn_quickstart {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn_settings {
  color: #fff;
  background-color: #658100;
  border-color: #658100;
}
.btn_settings:hover,
.btn_settings:focus,
.btn_settings:active,
.btn_settings.active,
.open > .dropdown-toggle.btn_settings {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn_help {
  color: #fff;
  background-color: #972638;
  border-color: #972638;
}
.btn_help:hover,
.btn_help:focus,
.btn_help:active,
.btn_help.active,
.open > .dropdown-toggle.btn_help {
  color: #fff;
  background-color: black;
  border-color: black;
}

.alert-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}

.btn-primary {
color: #ffffff;
background-color: #2c3e50;
border-color: #2c3e50;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: #1a242f;
border-color: #161f29;
}

.btn-default {
color: #ffffff;
background-color: #95a5a6;
border-color: #95a5a6;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
color: #ffffff;
background-color: #798d8f;
border-color: #74898a;
}

.btn-info {
color: #ffffff;
background-color: #3498db;
border-color: #3498db;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #217dbb;
  border-color: #2077b2;
}

.btn-xxs, .btn-group-xxs > .btn {
padding: 2px 4px 2px 4px;
font-size: 9px;
border-radius: 2px;
}

.well {
min-height: 20px;
padding: 19px;
margin-bottom: 20px;
background-color: #ecf0f1;
border: 1px solid #ecf0f1;
border-radius: 4px;
-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 13px;
font-weight: bold;
color: #ffffff;
line-height: 1;
vertical-align: baseline;
white-space: nowrap;
text-align: center;
background-color: #2c3e50;
border-radius: 10px;
}

.infobulle {margin:0px 4px 0px 4px;padding:0px;}
.infobulle pre {margin:0px;padding:0px;font-size:11px;background-color:#FBD825;border:none;}
.infobulle .info {position:relative;z-index:24;margin:0px 0px 0px 0px;padding:0px 2px 0px 2px;text-align:center;color:#cfcfcf;font-size:11px;font-weight:bold;background-color:#dfdfdf;text-decoration:none;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.infobulle .info:hover{z-index:25;background-color:#FBD825;color:#895902;}
.infobulle .info .info_frame{display:none;}
.infobulle .info:hover .info_frame{display:block;position:absolute;top:0px;left:9px;width:450px;text-align:left;margin:0px;padding:0px 15px 15px 15px;background-color:#FBD825;color:black;font-size:9px;font-weight:normal;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

.infobulle_notification_on {float:right;display:block;margin:0px 0px 0px 5px;padding:0px 0px 0px 0px;}
.infobulle_notification_on a.info{position:relative;z-index:24;margin:0px 0px 0px 0px;padding:3px 8px 5px 10px;text-decoration:none;text-align:left;color:white;font-size:11px;font-weight:bold;font-weight:bold;background-color:#A5B24B;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.infobulle_notification_on a.info span{display:block;position:absolute;top:0px;right:17px;width:305px;padding:5px 10px 5px 10px;background-color:#A5B24B;color:white;font-size:12px;font-weight:normal;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.infobulle_notification_on a.info span div{width:100px;text-transform:uppercase;margin:5px auto 0px auto;text-align:center;padding:1px 0px 1px 0px;font-size:11px;background-color:#767F37;color:white;font-weight:bold;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

.infobulle_notification_off {float:right;display:block;margin:0px 0px 0px 5px;padding:0px 0px 0px 0px;}
.infobulle_notification_off a.info{position:relative;z-index:24;margin:0px 0px 0px 0px;padding:3px 8px 5px 8px;text-align:left;color:gray;font-size:11px;font-weight:bold;font-weight:bold;background-color:#47535F;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.infobulle_notification_off a.info:hover{z-index:25;background-color:#A5B24B;text-decoration:none;color:white;padding:3px 8px 5px 10px;}
.infobulle_notification_off a.info span{display:none;}
.infobulle_notification_off a.info:hover span{display:block;position:absolute;text-decoration:none;top:0px;right:17px;width:305px;padding:5px 10px 5px 10px;background-color:#A5B24B;color:white;font-size:12px;font-weight:normal;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.infobulle_notification_off a.info span div{width:100px;text-transform:uppercase;margin:5px auto 0px auto;text-align:center;padding:1px 0px 1px 0px;background-color:#767F37;color:white;font-size:11px;font-weight:bold;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}