.position {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    margin-bottom: 20px;
    height: 360px;
}

.position h4 {
    margin-top: 0;
}

@media (max-width: 767px) {
    .position {
        padding: 10px;
    }
}

.white {
    background-color: #FFFFFF;
}

.imgportrait {
    height: 225px;
}

.card{
    margin-top: 5px;
}

.borderrighte {
    border-right: 1px solid gray;
    margin-right: 150px;
}

.sizemin {
    font-size: 12px;
}