.position {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    margin-bottom: 20px;
    min-height: 360px;
}

.position h4 {
    margin-top: 0;
}

@media (max-width: 767px) {
    .position {
        padding: 10px;
    }
}

.white {
    background-color: #FFFFFF;
}

.imgportrait {
    height: 225px;
}

.card {
    margin-top: 5px;
}

.sizemin {
    font-size: 12px;
}

.image-container {
    position: relative;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: gray;
}

.image-container2 {
    position: relative;
}

@media (max-width: 760px) {
    .border-bottom-sm {
        border-bottom: 1px solid gray;
        margin-bottom: 5px;
        padding-top: 5px;
    }
}

@media (min-width: 761px) {
    .border-bottom-sm {
        border-right: 1px solid gray;
        margin-bottom: 5px;
        padding-top: 5px;
    }
    }