/* Styles pour le conteneur du slider */
.container {
    max-width: 600px; /* Largeur maximale du conteneur */
    margin: 0 auto; /* Centrer le conteneur horizontalement */
    max-height: 600px;
}

.partner-item {
    height: 100%;
    max-height: 500px; /* Hauteur maximale des partenaires */
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain; /* Ajuster l'image en conservant les proportions */
    }


.container-fluid {
    margin: 0 auto; /* Centrer le conteneur horizontalement */
    max-height: 550px;
}

/* Styles pour chaque slide */
#partners-slider .slick-slide {
    margin: 0 10px; /* Marge horizontale entre les slides */
}

/* Styles pour les images dans les slides */
#partners-slider img {
    width: 100%; /* Largeur des images à 100% */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    max-height: 400px;
}

/* Styles pour les flèches de navigation */
#partners-slider .slick-prev,
#partners-slider .slick-next {
    background-color: #ffffff; /* Couleur de fond des flèches */
    color: #000000; /* Couleur du texte des flèches */
    font-size: 24px; /* Taille de la police des flèches */
    line-height: 1; /* Hauteur de ligne pour centrer verticalement le texte */
    width: 40px; /* Largeur des flèches */
    height: 40px; /* Hauteur des flèches */
    border-radius: 50%; /* Bordure arrondie des flèches */
}

    /* Styles pour les flèches de navigation lors du survol */
    #partners-slider .slick-prev:hover,
    #partners-slider .slick-next:hover {
        background-color: #eaeaea; /* Couleur de fond lors du survol */
    }

.partners-slider-wrapper {
    position: relative;
}

body {
    background-image: url("../assets/fond2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #fff;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}