/*
 Header/Footer: Bleu moyen (#003366)
Background du body: Vert foncé (#006400)
 */

body {
    background-color: #dedede;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

header {
    border-bottom: 1px solid #1a1d20;
}

footer {
    border-top: 1px solid #1a1d20;
}

/* Header  */
.colorHeader{
    background-color: #1C870F;
}
.logo {
    display: inline-block;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.mainNav {
    margin-left: 10px;
}


.submenu {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: #343a40;
    border-left: 1px solid black;
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu2 {
    display: none;
    position: absolute;
    z-index: 999;
    background-color: #343a40;
    border-left: 1px solid black;
}

.with-submenu2:hover .submenu2 {
    display: block;
}

.nav-item {
    margin-bottom:10px;
}

.nav-item:hover {
    background-color: #333333;
}

.bandeau {
    background-color: white;
    border-bottom: 1px solid gray;
}


/* Header  */

/* Footer */

#map {
    width: 100%;

}

/* Footer  */

/* Slider */

.custom-slider { display: none; }
.slide-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
.slide-text {
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.slide-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.liSlider {
    display: block
}

.liSlider:before {
    content: counters(item, ".")" ";
    counter-increment: item
}


.carousel-inner{
    height: 500px;
    /*left: 78px;*/
}

.slidePerso{
    height: 500px;
    width: 100%;
    background-color: #2b2f32;
    overflow: hidden;
    margin-bottom: 20px;
}

#demo {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* Fin Slider */

/* Actu */

.news-container {
    max-width: 600px;
    margin: 0 auto;
    border-top: 1px solid #ccc; /* Ajoute une bordure supérieure à la section d'actualités */
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.news-item .post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.news-item .post-message {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.news-item .post-date {
    font-size: 12px;
    color: #888;
}

/* Actu */
/* Matchs */

.latest-matches {
    border-top: 1px solid #ccc; /* Ajoute une bordure supérieure à la section d'actualités */
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    margin-bottom: 10px;
}

/* Matchs */

/* Footer */